* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: black;
}

header {
	height: 10vh;
}

header h1 {
	display: inline-block;
	float: left;
	text-transform: uppercase;
}
header h1 a {
	transition: .4s;
}
header h1 a:hover {
	color: yellow;
}
.thin{
	font-weight: 200;
}
header ul {
	float: right;
}

header ul li {
	padding: 20px;
	display: inline-block;
}
header ul li a {
	font-weight: 700;
	transition: .3s;
	font-size: 1.2rem;
}
header ul li a:hover {
	color: orange;
	transition: .4s;
}

a {
	text-decoration: none;
}

.container {
	width: 90%;
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	margin: 0 auto;
}

.mobile-menu {
	display: none;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	transition: all ease .2s;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(1, 1, 1, .9);
}

.sidebar ul li a {
	color: white;
	font-weight: 700;
}

.sidebar ul li  {
	padding: 24px;
	transition: .3s;
}
.sidebar ul li:hover {
	background-color: yellow;
	
}
#check:checked ~ .sidebar {
	left: 0;

}
.jumbotron{
	width: 90%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	height: 100vh;
}
.jumbotron .isi-jumbotron{
	width: 70%;
	height: max-content;
}
.isi-jumbotron h1{
	font-size: 4rem;
}
.profile{
	width: 90%;
	height: 100vh;
	margin: 0px auto;
	display: flex;
	align-items: center;
}
.isi-profile h1{
	font-weight: 900;

}
.skill{
	width: 90%;
	margin: 0px auto;
	height: 100vh;
	display: flex;
	align-items: center;
}
.contact{
	width: 90%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin: 0px auto;
}
.footer{
	width: 100%;
	background: black;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer h1{
	color: white;
	letter-spacing: 3px;
	font-size: 1.5rem;
	font-weight: 500;
}
.white{
	color: white;
}
@media (max-width: 768px) {
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
}